<!DOCTYPE html>
<html>
  <head>
    <title>AngularsWebpack</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>

    <pond-app>Loading...</pond-app>


<%= webpack_script_for("vendor") %>
<%= webpack_script_for("app") %>

  </body>
</html>
